
body {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

section {
  padding-top: 30px;
}
.page-header {
  padding-top: 30px;
  padding-bottom: 4px;
  border-bottom-color: #DDD;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

li ul {
  margin-bottom: 22px;
  margin-top: -5px;
}

.title {
  margin: 10px 0;
  font-size: 34px;
  font-weight: bold;
  color: #931813;
}

p.toc.level1 {
  display: block;
  padding: 3px 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #931813;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

span.toc.level2 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.toc.level2.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* for more than 2 levels, we have a p and not a span */

p.toc.level2 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.toc.level2.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*
  So now we must add support for level3
  Note that only levels that link to a file are marked active.
  Relative internal links stay "span toc levelx"
*/

span.toc.level3 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.toc.level3.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.toc.level3 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.toc.level3.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.toc.level4 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.toc.level4.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.toc.level4 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

p.toc.level4.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.toc.level5 > a {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

span.toc.level5.active {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  color: #007c99;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}


h1 {
  font-size: 34px;
}

h2 {
  margin-top: 35px;
  margin-bottom: 12px;
  font-size: 28px;
}

h3 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.affix {
    top: 60px; 
}

.nav-header {
  font-size: 15px;
  color: #931813;
}

.nav-list li {
  margin-left: 10px;
}

.nav-list li a:hover {
  background-color: #e4f0f2;
}
.nav-list li a {
  padding: 1px 15px;
  color: #007c99;
  font-weight: normal;
}
.follow {
  margin-top: 4px;
}
.nav-list .active a, .nav-list .active a:hover {
  background-color: #006180;
}
code, pre {
  color: #006180;
  border: 1px solid #c3d6d8;
  background-color: #ebf6f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
code {
  padding-top: 1px;
  padding-bottom: 1px;
}
a {
  color: #931813; 
  font-weight: bold;
}
a:hover {
  color: #931813; 
}
h1, h2, h3, h4, h5, h6 {
  color: #931813;  
}
.nav {
  border: 2px solid #c3d6d8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-top, .nav-bottom {
  padding: 9px 0px;
  text-align: center;
}

@media (max-width: 942px), (max-height: 856px) {
  [class*="span"] {
    float: none;
    margin-left: 0px;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  .span8 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    margin-left: 0px;
  }
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container {
    width: auto;
  }
  .affix {
    position: static;
    width: 222px;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 620px) {
  .span8 {
    width: 100%;
    margin-left: 0px;
  }  
}

/*
   Adding margins to the document body
*/

.toc {
   margin-left: 35px;
}

.content {
   margin-left: 30px;
}


/*
   Format GitHub flavour tables
*/

table {
  border-collapse: collapse;
}


table, th, td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

th {
  background-color: #ebf6f7;
  color: black;
}


table, tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table, tr:hover {
  background-color:#f5f5f5 !important;
}

table, tr:nth-child(even) {
  background-color: #f6f8fa;
}
