<!DOCTYPE html>
<html ="en">
    <head>
        <meta charset="UTF-8">
        <title>{{document.title}}</title>
        <link href="../css/bootstrap.css" rel="stylesheet">
        <link href="../css/docs.css" rel="stylesheet">
        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- <script src="https://cdn.plot.ly/plotly-1.41.3.min.js"></script> -->
    </head>
    <body>
        @:toc title="Contents" root="../overview.md" .
        <div class="content">
            {{document.content}}
        </div>
    </body>
</html>